.fxb-nav-css {
    font-size: 14px;
    float: right;
    text-decoration: none;
    padding: 0.334em 0.667em;
    background: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 6px;
    color: #555555;
    font-weight: 400;
    display: none;
}
.rtl .fxb-nav-css {
    float: left;
    margin-right: 0;
}
.fx_builder_active .fxb-nav-css {
    display: block;
}
.fxb-nav-css:hover,
.fxb-nav-css:focus {
    color: #222;
    background: #eee;
}
.fxb-custom-css-textarea {
    width: 100%;
    height: 300px;
    max-height: 100%;
    font-family: Consolas, Monaco, monospace;
    font-size: 18px;
    line-height: 150%;
    direction: ltr;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .fxb-nav-css {
        padding: 8px 10px;
        margin: 10px -14px 0 0;
    }
}
