.fxb-row > .fxb-wrap {
    display: grid;
    gap: var(--fxb-template-gap, 2em);
}
.fxb-row > .fxb-wrap[style*="height:"] {
    overflow: hidden;
}

.fxb-row {
    width: 100%;
    margin-bottom: var(--fxb-template-gap, 2em);
    background-color: var(--fxb-row-bg-color, transparent);
}
.fxb-row:last-child {
    margin-bottom: 0;
}

.fxb-row .fxb-col {
    box-sizing: border-box;
    padding: var(--fxb-row-col-padding, 0);
    min-width: 0;
}

/* Grid templates per layout */
.fxb-row-layout-1 > .fxb-wrap {
    grid-template-columns: 1fr;
}

.fxb-row-layout-12_12 > .fxb-wrap {
    grid-template-columns: 1fr 1fr;
}

.fxb-row-layout-13_23 > .fxb-wrap {
    grid-template-columns: 1fr 2fr;
}

.fxb-row-layout-23_13 > .fxb-wrap {
    grid-template-columns: 2fr 1fr;
}

.fxb-row-layout-13_13_13 > .fxb-wrap {
    grid-template-columns: 1fr 1fr 1fr;
}

.fxb-row-layout-14_14_14_14 > .fxb-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fxb-row-layout-15_15_15_15_15 > .fxb-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.fxb-item {
    width: 100%;
}

.fxb-fullwidth {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    max-width: initial;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.fxb-wrap img {
    max-width: 100%;
    height: auto;
}
