.fxb-row > .fxb-wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--fxb-template-gap, 2em);
}

.fxb-row {
    width: 100%;
    margin-bottom: var(--fxb-template-gap, 2em);
    background-color: var(--fxb-row-bg-color, transparent);
}
.fxb-row:last-child {
    margin-bottom: 0;
}

.fxb-row .fxb-col {
    box-sizing: border-box;
    padding: var(--fxb-row-col-padding, 0);
}

.fxb-row-layout-1 .fxb-col {
    width: 100%;
}

/* 1/2 - 1/2 Layout */
.fxb-row-layout-12_12 .fxb-col-1,
.fxb-row-layout-12_12 .fxb-col-2 {
    width: 50%;
}

/* 1/3 - 2/3 Layout */
.fxb-row-layout-13_23 .fxb-col-1 {
    width: 33.33%;
}
.fxb-row-layout-13_23 .fxb-col-2 {
    width: 66.66%;
}

/* 2/3 - 1/3 layout */
.fxb-row-layout-23_13 .fxb-col-1 {
    width: 66.66%;
}
.fxb-row-layout-23_13 .fxb-col-2 {
    width: 33.33%;
}

/* 1/3 - 1/3 - 1/3 Layout */
.fxb-row-layout-13_13_13 .fxb-col-1,
.fxb-row-layout-13_13_13 .fxb-col-2,
.fxb-row-layout-13_13_13 .fxb-col-3 {
    width: 33.33%;
}

/* 1/4 - 1/4 - 1/4 - 1/4 Layout */
.fxb-row-layout-14_14_14_14 .fxb-col-1,
.fxb-row-layout-14_14_14_14 .fxb-col-2,
.fxb-row-layout-14_14_14_14 .fxb-col-3,
.fxb-row-layout-14_14_14_14 .fxb-col-4 {
    width: 25%;
}

/* 1/5 - 1/5 - 1/5 - 1/5 - 1/5 Layout */
.fxb-row-layout-15_15_15_15_15 .fxb-col-1,
.fxb-row-layout-15_15_15_15_15 .fxb-col-2,
.fxb-row-layout-15_15_15_15_15 .fxb-col-3,
.fxb-row-layout-15_15_15_15_15 .fxb-col-4,
.fxb-row-layout-15_15_15_15_15 .fxb-col-5 {
    width: 20%;
}

.fxb-item {
    width: 100%;
}

.fxb-fullwidth {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    max-width: initial;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.fxb-wrap img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .fxb-container .fxb-row .fxb-col {
        width: 100%;
        margin: 0;
    }

    .fxb-row > .fxb-wrap {
        flex-wrap: wrap;
    }

    .fxb-row-layout-1 .fxb-col,
    .fxb-row-layout-12_12 .fxb-col-1,
    .fxb-row-layout-12_12 .fxb-col-2,
    .fxb-row-layout-13_23 .fxb-col-1,
    .fxb-row-layout-13_23 .fxb-col-2,
    .fxb-row-layout-23_13 .fxb-col-1,
    .fxb-row-layout-23_13 .fxb-col-2,
    .fxb-row-layout-13_13_13 .fxb-col-1,
    .fxb-row-layout-13_13_13 .fxb-col-2,
    .fxb-row-layout-13_13_13 .fxb-col-3,
    .fxb-row-layout-14_14_14_14 .fxb-col-1,
    .fxb-row-layout-14_14_14_14 .fxb-col-2,
    .fxb-row-layout-14_14_14_14 .fxb-col-3,
    .fxb-row-layout-14_14_14_14 .fxb-col-4,
    .fxb-row-layout-15_15_15_15_15 .fxb-col-1,
    .fxb-row-layout-15_15_15_15_15 .fxb-col-2,
    .fxb-row-layout-15_15_15_15_15 .fxb-col-3,
    .fxb-row-layout-15_15_15_15_15 .fxb-col-4,
    .fxb-row-layout-15_15_15_15_15 .fxb-col-5 {
        width: 100%;
    }
}
