:root {
    --fxb-accent-color: #3742fa;
}

.identityblock {
    display: flex;
    align-items: end;
    gap: 8px;

    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    color: #000000;
}
.identityblock small {
    display: block;
    font-size: 24px;
}
.codeblock {
    font-family: "Cascadia Code Web", "SFMono-Regular", Consolas,
        "Liberation Mono", Menlo, Courier, monospace;
    color: var(--fxb-accent-color);
    background: none;
    font-size: 16px;
    font-weight: 400;
}
.titleblock {
    font-size: 24px;
    font-weight: 300;
}

/**
 * Ad Box UI
 */
.fxb-ad {
    color: #1d2327;
    background-color: #ffffff;
    box-shadow: 0 6px 3px rgb(0 0 0 / 4%), 0 12px 6px rgb(0 0 0 / 3%);
    border-radius: 8px;
    margin: 16px 0;
    padding: 24px;
}
.fxb-ad a {
    text-decoration: underline;
    text-decoration-color: lightgray;
    text-decoration-thickness: 2px;
}
.fxb-ad a:hover {
    text-decoration-color: var(--fxb-accent-color);
}
.fxb-ad svg {
    height: 24px;
    margin-right: 8px;
    vertical-align: text-bottom;
}
.fxb-ad h3 {
    color: #1d2327;
    font-size: 1.45em;
    font-weight: 500;
}
.fxb-ad b {
    font-weight: 500;
}
.fxb-ad p {
    font-size: 15px;
}

.nav-tab-wrapper.nav-tab-wrapper-fxb,
.wrap h2.nav-tab-wrapper.nav-tab-wrapper-fxb,
.wrap h3.nav-tab-wrapper.nav-tab-wrapper-fxb,
h1.nav-tab-wrapper.nav-tab-wrapper-fxb {
    border-bottom: 0 none;
}

/* https://flatuicolors.com/palette/se */
.nav-tab-wrapper.nav-tab-wrapper-fxb .nav-tab {
    border: 0 none;
    border-radius: 0;
    margin: 2px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.71428571;
    font-weight: 500;
    background: #d2dae2;
    color: #485460;
}
h3.nav-tab-wrapper.nav-tab-wrapper-fxb .nav-tab {
    font-size: 13px;
}
.nav-tab-wrapper.nav-tab-wrapper-fxb .nav-tab-active,
.nav-tab-wrapper.nav-tab-wrapper-fxb .nav-tab-active:focus,
.nav-tab-wrapper.nav-tab-wrapper-fxb .nav-tab-active:focus:active,
.nav-tab-wrapper.nav-tab-wrapper-fxb .nav-tab-active:hover {
    border-left: 3px solid #1e272e;
    background: #ffffff;
    color: #1e272e;
}
.nav-tab-wrapper.nav-tab-wrapper-fxb .nav-tab:focus,
.nav-tab-wrapper.nav-tab-wrapper-fxb .nav-tab:hover {
    color: #1e272e;
}
