.fxb-nav-tools {
    font-size: 14px;
    float: right;
    text-decoration: none;
    padding: 0.334em 0.667em;
    background: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 6px;
    color: #555555;
    font-weight: 400;
    margin-right: 0.25em;
    display: none;
}
.rtl .fxb-nav-tools {
	float: left;
	margin-right: 0;
	margin-left: 0.25em;
}
.fx_builder_active .fxb-nav-tools {
	display: block;
}
.fxb-nav-tools:hover,
.fxb-nav-tools:focus{
	color: #222;
	background: #eee;
}

/* Modal */
.fxb-tools.fxb-modal .fxb-modal-content{
	padding-top: 5px;
}
.fxb-tools.fxb-modal .wp-tab-panel{
	max-height: none;
}
.fxb-tools.fxb-modal .fxb-tools-panel textarea{
	margin-top: 15px;
	width: 100%;
	height: 200px;
	display: block;
	max-height: 100%;
	font-family: Consolas,Monaco,monospace;
	direction: ltr;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
	.fxb-nav-tools{
		padding: 8px 10px;
		margin: 10px 10px 0 0;
	}
}
